.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #292929;
    border-top: 3px solid #ffffff;
  }
  .footerText{
    font-family: 'Playfair Display', serif;
    color: #808080;
    font-size: 14px;
    margin: 0.3%;
  }