<div class="container">
    <div class="leftSection">
        <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
            
            <h1 class="topic-header">Jakie jest twoje imię i płeć?</h1>
            <div>
                <input type="text" name="firstname" placeholder="Podaj swoje imię" value="firstName" formControlName = "firstName">
                <select formControlName = "gender">
                  <option value="" disabled selected>Wybierz płeć</option>
                  <option value="male" >Mężczyzna</option>
                  <option value="female">Kobieta</option>
                </select>
            </div>
            
            <div class="alert" *ngIf="formModel.controls['firstName'].errors && formModel.controls['firstName']?.touched">
                Imię musi składać się z liter.
            </div>
            
            <h1 class="topic-header">Jaka kaloryczność jest odpowiednia dla Ciebie?</h1>
                <div class="inputs-inline">
                    <label for="loseWeight" class="radio">
                        <input type="radio" name="radio" id="loseWeight" value="loseWeight" class="radio__input" formControlName = "radio">
                        <div class="radio__radio"></div>
                        Chcę schudnąć
                    </label>
                    <label for="gainWeight" class="radio">
                        <input type="radio" name="radio" id="gainWeight" value="gainWeight" class="radio__input" formControlName = "radio"/>
                        <div class="radio__radio"></div>
                        Chcę przytyć
                    </label>
                    <label for="keepWeight" class="radio">
                        <input type="radio" name="radio" id="keepWeight" value="keepWeight" class="radio__input" formControlName = "radio"/>
                        <div class="radio__radio"></div>
                        Chcę utrzymać formę
                    </label>
                </div>
                <h1 class="topic-header">Jaką dietę chcesz wybrać?</h1>
            <select name="diet" formControlName = "diet">
              <option value="" disabled selected>Wybierz rodzaj diety</option>
              <option value = "basicDiet"  >Podstawowa</option>
              <option value = "vegeDiet" >Wegańska</option>
              <option value = "highProteinDiet" >Wysoko białkowa</option>
            </select>
            
            <h1 class="topic-header">Ile masz wzrostu i ile ważysz?</h1>
            <div>
                <input type="number" placeholder="Podaj swoją wagę 'kg'" step="1" formControlName="weight">
                <input type="number" placeholder="Podaj swój wzrost 'cm'" step="1" formControlName="height">  
            </div>
            <div class="alert" *ngIf="formModel.controls['weight'].errors && formModel.controls['weight']?.touched">
                Waga musi być pomiędzy 20 a 200.
            </div>
            <div class="alert" *ngIf="formModel.controls['height'].errors && formModel.controls['height']?.touched">
                Wzrost musi być pomiędzy 140 a 220.
            </div>

            <h1 class="topic-header">Ile masz lat a ile ćwiczysz?</h1>
            <div>
                <input type="number" placeholder="Podaj swój wiek" step="1" formControlName="age">
                <select name="trainingExperience" formControlName = "trainingExperience">
                    <option value="" disabled selected>Wybierz staż treningowy</option>
                  <option value="noTraining" selected>Nie ćwiczę lub rzadko</option>
                  <option value="mediumTraining">Lekko ćwiczę</option>
                  <option value="hardTraining">Regularnie ćwiczę</option>
                </select>
            </div>
            <div class="alert" *ngIf="formModel.controls['age'].errors && formModel.controls['age']?.touched">
                Wiek musi być pomiędzy 10 a 80
            </div>
            <div class="inputs-inline" >
                <app-create-diet (click)="onSubmit()"  [isformValid]="formModel.valid" [disabled]="!formModel.valid"></app-create-diet>
            </div>
        </form>
    </div>

    <div class="rightSection">
           <img id="help-banan-image" *ngIf="!formModel.valid" src="../../assets/banan.png" width="250px" height="auto" alt="banan-image">
    </div>

</div>