.table-header{
  color: #000000;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 35px;
  text-align: center ;
  background: -webkit-linear-gradient( #fbbc00, #d7e116);
}
td:nth-child(even) {background: rgb(255, 255, 255)}
td:nth-child(even) {background: rgba(251, 255, 0, 0.171)}

table.customTable {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-box-shadow: 8px 8px 25px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 25px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 25px 0px rgba(66, 68, 90, 1);
    font-family: Helvetica;
  }

  
  table.customTable thead {
    background-image: linear-gradient(to right, #00b09b, #96c93d);
  }