<h1 class = "table-header">Witaj {{firstName}} oto twoja dieta na najbliższy tydzień:</h1>
<table class="customTable">
    <thead>
      <tr>
        <th></th>
        <th>Poniedziałek</th>
        <th>Wtorek</th>
        <th>Środa</th>
        <th>Czwartek</th>
        <th>Piątek</th>
        <th>Sobota</th>
        <th>Niedziela</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Śniadanie</td>
        <td>Row 1, Cell 2</td>
        <td>Row 1, Cell 3</td>
        <td>Row 1, Cell 4</td>
        <td>Row 1, Cell 5</td>
        <td>Row 1, Cell 6</td>
        <td>Row 1, Cell 7</td>
        <td>Row 1, Cell 8</td>
      </tr>
      <tr>
        <td>Obiad</td>
        <td>Row 2, Cell 2</td>
        <td>Row 2, Cell 3</td>
        <td>Row 2, Cell 4</td>
        <td>Row 2, Cell 5</td>
        <td>Row 2, Cell 6</td>
        <td>Row 2, Cell 7</td>
        <td>Row 2, Cell 8</td>
      </tr>
      <tr>
        <td>Kolacja</td>
        <td>Row 3, Cell 2</td>
        <td>Row 3, Cell 3</td>
        <td>Row 3, Cell 4</td>
        <td>Row 3, Cell 5</td>
        <td>Row 3, Cell 6</td>
        <td>Row 3, Cell 7</td>
        <td>Row 3, Cell 8</td>
      </tr>
    </tbody>
  </table>