html, body { 
    min-height: 100%;
    padding: 0; 
    margin: 0;
    background-color: #E8E8E8;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("./assets/backgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}
