*{
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

html{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("./assets/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html, body{
  min-height: 100vh;
}

